<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Assign Supplier to Product</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Product : </label>
        <select name="product" required>
            {% for product in products %}
                <option value="{{ product.id }}">
                    {{ product.name }}
                </option>
            {% endfor %}
        </select>
        <br><br>

        <label>Supplier:</label>
        <select name="supplier" required>
            {% for supplier in suppliers %}
                <option value="{{ supplier.id }}">
                    {{ supplier.name }}
                </option>
            {% endfor %}
        </select>
        <br><br>

        <button type="submit">Assign Supplier</button>
    </form>
</body>
</html>