{% extends 'base.html' %}
{% block title %}Edit product | RetailFlow{% endblock %}
{% block content %}
<section class="surface form-shell">
    <p class="eyebrow">Catalog</p>
    <h1>Edit product.</h1>
    {% if error %}
        <div class="flash">{{ error }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-grid">
            <div class="field">
                <label>Name</label><input type="text" name="name" value="{{ product.name }}" required>
            </div>

            <div class="field">
                <label>Category</label>
                <select name="category" required>
                    {% for category in categories %}
                        <option value="{{ category.id }}"
                            {% if category.id == product.category.id %}
                                selected
                            {% endif %}
                        >
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="field">
                <label>MRP</label><input type="number" step="0.01" min="0" name="mrp" value="{{ product.mrp }}" required >
            </div>

            <div class="field">
                <label>Selling price</label><input type="number" step="0.01" min="0" name="selling_price" value="{{ product.selling_price }}" required >
            </div>

            <div class="field field-wide">
                <label>Description</label><textarea name="desc" required>{{ product.desc }}</textarea>
            </div>
        </div>

        <div class="form-actions">
            <button class="button" type="submit">Save changes</button>
            <a class="button-link" href="{% url 'product_details' product.id %}">Cancel</a>
        </div>
    </form>
</section>
{% endblock %}