<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Name : {{product.name}}</p>
    <p>Description : {{product.desc}}</p>
    <p>selling price : {{product.selling_price}}</p>
    <p>Category : {{product.Category}}</p>

    <form method="POST" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <label>Quantity:</label><input type="number" name="quantity" value="1" min="1" required>
        <button type="submit">Add to Cart</button>
    </form>
</body>
</html>